<ul>
    <li><a id="englandSelect" [class.active]="selectedCountry === 'England'" (click)="selectCountry('England')">England</a></li>
    <li><a id="spainSelect" [class.active]="selectedCountry === 'Spain'" (click)="selectCountry('Spain')">Spain</a></li>
    <li><a id="franceSelect" [class.active]="selectedCountry === 'France'" (click)="selectCountry('France')">France</a></li>
    <li><a id="germanySelect" [class.active]="selectedCountry === 'Germany'" (click)="selectCountry('Germany')">Germany</a></li>
    <li><a id="italySelect" [class.active]="selectedCountry === 'Italy'" (click)="selectCountry('Italy')">Italy</a></li>
</ul>